__pycache__
.mypy_cache
.pyre

implementations/.env
implementations/.cache
implementations/models.json
implementations/queues
implementations/results
implementations/*.ipynb
implementations/*.rb
*sj/
geval/outputs
geval/results
geval/sr-rate
axolotl/last_run_prepared
axolotl/outputs
axolotl/wandb